@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: white;
  color: rgb(44, 44, 44);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
