@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: white;
  color: rgb(44, 44, 44);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}